# -------------------------------------------------------------------
# default.yaml
# All the “factory” defaults for the project
# -------------------------------------------------------------------

# Data
data:
  data_dir: "data"
  data_split: "object_unseen"

# Seed for reproducibility
seed: 2025

# Augmentations
augmentations:
  use_aug: true
  default_prob: 0.5
  flip:
    use_horizontal_flip: true
    use_vertical_flip: true
    prob: 0.5
  crop:
    use_crop: true
    max_crop_fraction: 0.3
    prob: 0.5
  rotation:
    use_rotation: true
    angle_range: 90
    prob: 0.5
  desc:
    use_desc: true
    prob: 0.5

# Model & Training
training:
  batch_size: 2
  validate_after_n_epochs: 1
  loss:
    choice: "L2"
    scaling: 0.3

# Attention
attention:
  embed_dim: 512
  num_heads: 8

model:
  type: "base"
  tau: 0.8

encoder:
  freeze: True

# Map parameters
map:
  size: 50
  embedding_size: 768

# Optimizer & Scheduler
optimizer:
  type: "adam"
  lr: 0.001
  weight_decay: 1e-5

scheduler:
  type: "none"
  step_size: 5
  gamma: 0.1
  patience: 10

# Checkpoints
checkpoint:
  save: false
  path: "model/checkpoints/model.pth"
  load: false

# Device & performance
device:
  type: "mps"
  num_workers: 4

# Logging
logging:
  wandb:
    use_wandb: false
    run_name: "none"

# Debug / Visualization
debug: false
visualize: false
use_obstacle_map: false

# Baseline
baseline:
  use_baseline: false
  type: "random"

use_extractor: true
